.header{
    display: flex;
}

.middle{
    
    display: flex;
}

.text{
    margin-top: 250px;
    display: flex;
flex-direction: column;
    font-size: 40px;
color: rgba(0, 0, 0, 0.584);
gap: 10px;

}



.img {
    height: 700px;
    width: 500px;

}




.bottm-text{
    margin-top: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.584);
}


.tesanyut{
    margin-top: 10px;
    cursor: pointer;
}

.vd{
    margin-top: 8px;
}

.logo-tesanyut{
    display: flex;
    gap: 5px;
   
}


.vd-elem{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    gap: 20px;
   margin-left: -10px;
}


.logos-tesanyut{
    margin-left: -200px;
    gap: 100px;
    display: flex;
    flex-direction: column;
}



