
.mid-holder{
    gap: 20px;
 margin-left: 200px;
    max-width: 1180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.second-text{
    color: gray;
}


/* .boxs{
    border: 1px solid black;
} */